// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.site_name{
  display: inline-block;
}

button {
  background-color: cadetblue;
  color: black;
  border: 1px black solid;
  border-radius: 2em;
  min-width: 50%;
  max-width: 50%;
  height: 30px;
  line-height: 51px;
  font-size: 1em;
  
}

.container{
  max-width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn {
  background-color: cadetblue;
  color: black;
  border: 1px black solid;
  border-radius: 2em;
  max-width: 100%;
  min-width: 90%;
  height: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  margin: 0.3em;
}
a {
  text-decoration: none;
  text-align: center;
  margin-top: 1em 0.3em 0.3em 0.3em;
}
