<h1>Admin Area</h1>
<div class="container">
  <button class="btn" type="button">BUY</button>
  <button class="btn" type="button">SELL</button>
  <button class="btn" type="button">My Sale Items</button>
  <button class="btn" type="button">Edit Users</button>
</div>