<h1>Admin Area</h1>
<div id="container">
  <button type="button">BUY</button>
  <button type="button">SELL</button>
  <button type="button">My Sale Items</button>
  <button type="button">Edit Users</button>
</div>